@font-face {
    font-family: 'Satoshi', Sans-serif;
    src: url('./assets/font/Satoshi-Regular.eot');
    src: url('./assets/font/Satoshi-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Satoshi-Regular.woff') format('woff'),
        url('./assets/font/Satoshi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi', Sans-serif;
    src: url('./assets/font/Satoshi-Medium.eot');
    src: url('./assets/font/Satoshi-Medium.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Satoshi-Medium.woff') format('woff'),
        url('./assets/font/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi', Sans-serif;
    src: url('./assets/font/Satoshi-Bold.eot');
    src: url('./assets/font/Satoshi-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Satoshi-Bold.woff') format('woff'),
        url('./assets/font/Satoshi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-color: #000D50;
  --text-blue: #0020C3;
  --text-white: #FFFFFF;
  --text-white-gray: #F8F8F8;
}
body{
  font-family: 'Satoshi' , Sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.18px;
  color: var(--text-color);
}
ol,ul{
  list-style: none;
}
li{
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
}
button{
  cursor: pointer;
  border: none;
}
h1,h2,h3,h4,h5,h6,a,address,label,input,button{
  font-family: 'Satoshi', Sans-serif;
}

h1{
  font-size: 65px;
  font-weight: 500;
  line-height: 68.25px;
  letter-spacing: -0.65px;
  color: var(--text-white);
}
h2{
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: -0.3px;
}
h3{
  font-size: 32px;
  font-weight: 700;
  line-height: 35.2px;
  letter-spacing: -0.32px;
}
h5{
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.18px;
}
p{
  font-size: 22px;
  font-weight: 500;
  line-height: 24.2px;
  letter-spacing: -0.22px;
}

.common-wrap{
  max-width: 1839px;
  margin: 0 auto;
  padding: 0 14px 0 15px;
}
.btn{
  background-color: var(--text-color);
  padding: 13px 28px;
  color: var(--text-white);
  font-size: 18px;
  line-height: 19.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in;
}
.btn img{
  width: 10px;
}
.btn:hover{
  background-color: rgba(0, 13, 80, .8);
}
@media(max-width:1024px){
  
  h1{
    font-size: 40px;
    line-height: 42px;
  }
  h2{
    font-size: 32px;
    line-height: 35.2px;
  }
  h3{
    font-size: 22px;
    line-height: 24.2px;
  }
  h5{
    font-size: 16px;
    line-height: 16px;
  }
  p{
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.16px;
  }
  .btn{
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.16px;
  }
}


/* Header section start */
.header-section{
  position: sticky;
  top: 46px;
  z-index: 999;
  background: transparent;
  transition: top 0.4s ease, background-color 0.4s ease;
}

.header-section.scrolled {
  top: -1px;   
  background: var(--text-blue); 
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
}

.main-menu {
  position: relative;
}

.main-menu {
  display: flex;
  align-items: center;
  padding: 0px 49px;
  gap: 74px;
  background: #fff;
  border-radius: 15px;
  position: relative;
}
.main-menu.show {
  display: block;
}

.main-menu li a.header-link {
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 23px;
}
.main-menu li a {
  text-decoration: none;
  color: #363636;
  padding-block: 22px;
  transition: 0.3s ease-in;
}
.main-menu li a:hover{
  color: var(--text-blue);
  font-weight: 500;
}

.main-menu > li {
  display: inline-block;
}

.main-menu li .dropdown-wrap{
  
  background-color: transparent;
  padding: 22px 0px;
  align-items: center;
  gap: 104px;
  visibility: hidden;
  transition: 0.3s ease-in;
}

.dropdown{
  background-color: var(--text-white);
  padding: 22px 49px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 70px;
}
.main-menu li span .plus{
  transition: 0.3s ease-in;
}
.main-menu li span .minus {
  opacity: 0;
  width: 0;
  transition: 0.3s ease-in;
}

.main-menu li:hover span .plus {
  opacity: 0; 
  width: 0;
}

.main-menu li:hover span .minus {
  opacity: 1; 
  width: 10px;
  height: 6px;
}

.main-menu li span .icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.hamburger-icon{
    display: none;
    position: relative;
    background-color: transparent;
  }
.dropdown-wrap.open {
  display: block !important;
  visibility: visible !important;
}
.dropdown-wrap {
  display: none;
}
.link-active{
  font-weight: 700;
}

@media (min-width: 1024px) {
  
  .main-menu li .dropdown-wrap{
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
  }
  .main-menu li:hover .dropdown-wrap{
    visibility: inherit;
    display: block;
  }
}
@media (max-width: 1024px) {
  .header-section{
    top: 14px;
  }
  .header-wrap img{
    max-width: 75%;
  }
  
  .main-menu .social.social-mob{
    margin-top: 151px;
  }
  .main-menu{
    display: none;
    gap: 35px;
    padding-top: 100px;
    padding-inline: 15px;
    border-radius: 0px;
  }
  .main-menu li a{
    padding: 0;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.32px;
  }
  .dropdown li a{
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.22px;
  }
  .main-menu > li{
    margin-bottom: 35px;
  }
  .header-link span svg{
    width: 22px;
  }
  .main-menu li {
    width: 100%;
  }
  .hamburger-icon{
    display: block;
  }
  ul.main-menu {
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: -46px;
    left: 0;
    right: 0;
    height: 107vh;
}

.main-menu li a.header-link{
  justify-content: space-between;
}
.main-menu li .dropdown{
    flex-direction: column;
    gap: 15px;
}
.main-menu li .dropdown-wrap{
  padding-top: 35px;
  padding-bottom: 0;
}
.main-menu li .dropdown{
  padding: 0;
}
}


/* banar-section start */

.banar-section{
  background-image: url(./assets/images/home-banar-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -90px;
}
.banar-wrap{
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 365px;
  padding-bottom: 387px;
  
}
.play-wrap{
  width: calc(100% - 788px);
  position: relative;
}
.play-wrap button {
    max-width: 125px;
    background-color: transparent;
    position: absolute;
    top: -41px;
    right: 36.4%;
}
.banar-content{
  max-width: 788px;
}
.banar-content h1{
  max-width: 484px;
  
}
.explore-wrap{
  display: flex;
  align-items: center;
  gap: 10px ;
  position: absolute;
  left: 0;
  bottom: 44px;
}
.explore-wrap span{
  color: var(--text-white);
}
@media (max-width: 1024px){
  .home-page .banar-section{
    background-position: -440px center;
    margin-top: -47px;
  }
  .banar-wrap {
    padding-top: 371px;
    padding-bottom: 404px;
}
.about-page .banar-section {
    background-position: -314px center !important;
    margin-top: -78px !important;
  }
  .about-page .banar-wrap {
    padding-top: 318px !important;
    padding-bottom: 404px !important;
 }
 .explore-wrap {
    bottom: 28px;
  }
  .explore-wrap span {
    font-size: 14px;
  }
  .home-page .banar-content h1{
    max-width: 484px;
    display: none;
  }
  .play-wrap{
    width: 100%;
    position: unset;
  }
  .play-wrap button {
    max-width: 80px;
    top: unset;
    right: unset;
    left: 71px;
    bottom: 165px;
}
 .home-page .explore-wrap{
    display: none;
  }
}

/* Alteri section start */
.alteri-section{
  padding-top: 91px;
  padding-bottom: 50px;
}
.partnership-page .alteri-section{
  padding-top: 88px;
  padding-bottom: 0px;
}
.development-section {
    padding-top: 120px;
}
.development-content h2 {
    margin-top: 17px;
    margin-bottom: 46px;
}
.investors-page .alteri-bottom{
  padding-top: 120px;
  padding-bottom: 46px;
}
.investors-page .alteri-bottom h2{
  margin-bottom: 0 !important;
}
.alteri-section h2{
  letter-spacing: 0.1px;
}
.alteri-wrap{
  display: flex;
  justify-content: space-between;
}
.alteri-content-left{
  max-width: 42.265%;
}
.alteri-content-right{
  max-width: 43.535%;
  padding-top: 5px;
}
.alteri-content-right p{
  padding-bottom: 22px;
}
.alteri-small-bg{
  display: none;
}
@media(max-width:1024px){
  .alteri-section{
    padding-top: 51px;
  }
  .alteri-wrap{
    flex-direction: column;
    gap: 20px;
  }
  .alteri-content-left,
  .alteri-content-right{
    max-width: 100%;
  }
  .alteri-content-right p{
    padding-bottom: 33px;
  }
  .alteri-bg{
    display: none;
  }
  .alteri-small-bg{
    display: block;
  }
  .alteri-section {
    padding-bottom: 25px;
  }
  .aletri-card-section{
    padding-top: 30px !important;
  }
  .card-abatar{
    max-width: 31px;
    margin-top: 8px;
  }
  .card-social-icon {
    max-width: 27px;
    right: 10px !important;
    bottom: 13px !important;
  }
  .connect-top .map{
    grid-column: 1;
    grid-row: 1;
  }
  .connect-top .form-container{
    grid-column: 1;
    grid-row: 2;
  }
  
}
/* Alteri section end */

/* alteri-builds start */
.alteri-builds{
  padding-top: 32px;
}
.alteri-builds img{
  vertical-align: bottom;
}

@media(max-width:768px){
  .home-page .alteri-section {
    padding-bottom: 49px;
  }
}
/* alteri-builds end */


/* global energy section start */
.energy-section{
  background-color: var(--text-white-gray);
}
.energy-wrap{
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 51px;
}
.energy-image{
  max-width: 52.320%;
  width: 100%;
}
.energy-content{
  max-width: calc(100% - 52.320%);
  width: 100%;
  padding-left: 75px;
}
.energy-content p{
    max-width: 720px;
  }
.content-top{
  margin-bottom: 31px;
}
.content-wrap {
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 1px solid rgba(0, 13, 80, 0.4);
  border-bottom: 1px solid rgba(0, 13, 80, 0.4);
  margin-bottom: 58px;
}
.box-image{
  padding-top: 53px;
  padding-bottom: 59px;
}
.box-image .box-small{
  display: none;
}

@media(max-width:768px){
  .energy-wrap{
    padding-top: 34px;
    padding-bottom: 38px;
    margin-top: 34px;
  }
  .box-image .box-img{
    display: none;
  }
  .box-image .box-img{
    display: none;
  }
  .box-image .box-small{
    display: block;
  }
}
@media(max-width:1024px){
  .footer-wrap{
    padding-inline: 24px;
  }
  .energy-wrap{
    flex-direction: column;
    gap: 33px;
  }
  .energy-content{
    max-width: 100%;
    padding-left: 0;
  }
  
  .energy-image{
    order: 2;
    max-width: 100%;
  }
  .content-wrap{
    padding-top: 0;
    border-top: 0;
    padding-bottom: 30px;
    margin-bottom: 13px;
  }
  .box-image{
    padding-top: 28px;
    padding-bottom: 33px;
  }
  .alteri-builds{
    padding-top: 12px;
  }
  .investors-page .connect-top {
    padding-top: 74px !important;
    padding-bottom: 0px !important;
  }
  .inquiries-img {
    width: 31.705% !important;

  }
  .inquiries h3{
    margin-top: 11px;
  }
  .inquiries p{
    margin-top: 9px !important;
  }
  .investors-page .inquiries .social-wrap {
    margin-top: 20px;
  }
  .operation-page .footer-section {
    padding: 40px 0 56px !important;
  }
}


/* global energy section end */

/* Connect section start */
.connect-section{
  padding-top: 110px;
  padding-bottom: 167px;
}
.investors-page .connect-section{
  padding-top: 99px;
  padding-bottom: 158px;
}
.investors-page .connect-top{
  padding-top: 156px;
  padding-bottom: 81px;
}
.investors-page .contact-info{
  gap: 42px;
}
.partnership-page .connect-section {
    padding-top: 122px;
    padding-bottom: 163px;
}
.connect-wrap {
  display: grid;
  grid-template-columns: 52.320% 43.536%; /* 2 column */
  grid-template-rows: auto auto; /* 2 row */
  column-gap: 4.143%;
  row-gap: 50px;
}
.connect-section h2{
  letter-spacing: 0.3px;
}

.form-container {
  grid-column: 1; /* Left top */
  grid-row: 1;
  margin-top: -9px;
}

.map {
  grid-column: 2; /* Right top */
  grid-row: 1 / span 2; /* Top theke bottom porjonto map stretch hobe */
}

.contact-info {
  grid-column: 1; /* Left bottom */
  grid-row: 2;
  border: 1px solid #959AB5;
  border-radius: 25px;
  padding: 36px 37px 38px 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 71px;
}
.contact-wrap{
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.contact-item:nth-child(2){
  padding-left: 10px;
}
.contact-item:nth-child(3){
  padding-left: 24px;
}
.contact-item p{
  max-width: 136px;
}
.contact-item a{
  color: var(--text-blue);
  transition: .3s ease-in;
}
.contact-item a:hover{
  color: var(--text-color);
}
.contact-item p{
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.18px;
}
.social-wrap{
  display: flex;
  gap: 25px;
}
.social-wrap img{
  vertical-align: middle;
}

.contact-title{
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.contact-title img{
  width: unset;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 column */
  grid-gap: 26px; /* gap between items */
}
.form-container h2{
  grid-column: span 2;
  margin-bottom: 30px;
}

.form-group {
  width: 100%;
}

.form-full {
  grid-column: span 2; /* Full row item */
  display: flex;
  flex-direction: column;
  
}
.form-full textarea{
  height: 25px;
  margin-top: 25px;
}
.form-full .btn{
  padding: 11px 28px;
}

input, select, textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #959AB5;
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 500;
  width: 100%;
  color: var(--text-color);
}
input::placeholder, select::placeholder, textarea::placeholder{
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 500;
  font-family: 'Satoshi', Sans-serif;
  color: var(--text-color);
}
input, select, textarea:focus{
  outline: none;
}


@media (max-width: 768px){
  
  input, select, textarea {
    font-size: 16px;
    line-height: 21.9px;
  }
  input::placeholder, select::placeholder, textarea::placeholder{
  font-size: 14px;
  line-height: 15.6px;
}
  .form-group{
    grid-column: span 2;
  }
  .contact-wrap{
    flex-direction: column;
  }
  .contact-item{
    display: flex;
    justify-content: space-between;
  }
  .contact-info{
    padding-inline: 25px;
    padding-block: 24px;
  }
  .contact-title{
    margin-bottom: 0px;
  }
  .connect-wrap{
    row-gap: 33px;
  }
  .contact-info{
    margin-top: -17px;
    border-radius: 16px;
    gap: 46px;
  }
  .contact-item p{
    font-size: 13px;
    line-height: 15.6px;
    max-width: 100px;
  }
  .contact-item:nth-child(2){
    padding-left: 0px;
  }
  .contact-item:nth-child(3){
    padding-left: 0px;
    margin-top: 3px;
  }
  .contact-wrap{
    gap: 18px;
  }
  .contact-title{
    gap: 6px;
  }
  .contact-title img{
    max-width: 90%;
  }
  .media{
    display: none;
  }
  .contact-item a{
    font-size: 13px;
    line-height: 15.6px;
  }
  .social-wrap a{
    max-width: 27px;
  }
  .social-wrap{
    gap: 14px;
  }

}
@media (max-width: 1024px) {
  .connect-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
  .connect-wrap {
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto auto auto; /* 3 row */
    column-gap: 0;
  }

  .form-container {
    grid-column: 1;
    grid-row: 1;
  }

  .map {
    grid-column: 1;
    grid-row: 2;
  }

  .contact-info {
    grid-column: 1;
    grid-row: 3;
  }
  
  .form-container {
    grid-gap: 18px; 
  }
  .form-container h2{
    margin-bottom: 7px;
  }
  .investors-page .connect-section {
    padding-top: 78px;
    padding-bottom: 81px;
  }
  .investors-page .form-container h2 {
    margin-bottom: 8px !important;
  }
  .investors-page .contact-info {
    gap: 22px;
  }

}
/* Connect section end */

/* Footer section start */
.footer-section{
  background-color: var(--text-white-gray);
  padding: 61px 0 56px;
}
.operation-page .footer-section {
  padding: 65px 0 56px;
}
.footer-wrap{
  display: flex;
  gap: 16.574%;
  padding-bottom: 50px;
}
.footer-logo{
  max-width: 187px;
  width: 100%;
  margin-top: -16px;
}
.footer-content{
  width: calc(100% - 187px);
  display: flex;
  flex-flow: wrap;
  gap: 137px;
}
.investors{
  margin-inline: 43px;
}
.footer-item h5{
  margin-bottom: 40px;
}
.footer-item li{
   margin-bottom: 21px;

}
.footer-item li a{
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 500;
  transition: .3s ease-in;
}
.footer-item li:last-child{
  margin-bottom: 0px;
}
.footer-social{
  border-top: 1px solid rgba(0, 13, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}
.copyright{
  display: flex;
  gap: 336px;
}
.copyright{
  font-weight: 500;
}
.social{
  display: flex;
  align-items: center;
  gap: 25px;
}
.social-mob{
  display: none;
}
.footer-item li a:hover{
  color: var(--text-blue);
}
@media (max-width: 640px){
  .footer-content{
    flex-direction: column;
  }
}
@media (max-width: 768px){
  .social-mob{
    display: flex;
  }
  .social-desk{
    display: none;
  }
  .copyright{
    font-size: 12px;
    line-height: 12px;
  }
  .footer-social{
    padding-top: 28px;
  }
  .footer-section{
    padding: 38px 0 35px 0;
  }
  .footer-logo{
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .footer-wrap{
    padding-bottom: 20px;
  }
  .footer-item li a{
    font-size: 16px;
    line-height: 16px;
  }
  .footer-content{
    gap: 50px;
  }
  .footer-item h5{
    margin-bottom: 28px;
  }
  .footer-item li{
    margin-bottom: 20px;
  }
  .partnership{
    margin-top: 7px;
  }
  .social{
    gap: 11px;
  }
}
@media (max-width: 1024px){
  .footer-wrap{
    flex-direction: column;
    gap: 50px;
  }
  .copyright{
    display: flex;
    gap: 50px;
  }
}
@media (max-width: 1550px){
  .footer-logo{
    max-width: 105px;
  }
  .investors{
    margin: 0;
  }
  
  .footer-content{
    gap: 55px;
    width: 100%;
    justify-content: space-between;
  }
}
/* Footer section end */




/* about page style */
.pillar-section {
  padding-top: 68px;
}
.about-page .banar-section{
  background-image: url(./assets/images/about-banar.png);
}
.about-page .banar-wrap{
  padding-top: 400px;
  padding-bottom: 420px;
}

.pillar-wrap{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-top: 25px;
}
.pillar-item{
  background-color: var(--text-white-gray);
  border-radius: 25px;
  position: relative;
}
.pillar-item img{
  width: auto;
}
.pillar-content{
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 39px;
  padding-bottom: 35px;
}
.pillar-item.left .pillar-content,
.pillar-item.right .pillar-content{
  padding-left: 41px;
  padding-right: 53px;

}
.pillar-item.mid img{
  margin-left: 21px;
  margin-top: 25px;
} 
.pillar-item.right img{
  margin-left: -6px;
  margin-top: 25px;
}
.team{
  letter-spacing: -1px
}
.pillar-content h3{
  color: var(--text-blue);
  font-weight: 500;
  margin-bottom: 26px;
}
.pillar-content p{
  font-size: 18px;
  line-height: 19.8px;
  letter-spacing: -0.18px;
}
.pillar-dot{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #0020C3;
  position: absolute;
  top: 30px;
  right: 30px;
}
.executive{
  padding-top: 120px;
}
.executive-wrap{
  padding-top: 26px;
}
.executive .pillar-item{
  background-color: unset;
}
.executive .pillar-content{
  padding-top: 18px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.executive .pillar-content h3{
  color: var(--text-color);
  font-weight: 700;
  margin-bottom: 15px;
}
.executive .social{
  gap: 15px;
  margin-top: 30px;
}


/* slider style */

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 68px;
  height: 68px;
  background: var(--text-white); 
  border-radius: 50%;
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.3s ease;
}
.swiper-button-next, .swiper-button-prev {
    top: var(--swiper-navigation-top-offset,37.5%);
}

/* disabled হলে gray color */
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  
  cursor: not-allowed;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  opacity: 1;
}




.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--text-white-gray); /* only color changes, image stays same */
  background-position: center;
}

/* কাস্টম SVG আইকন যুক্ত করো */
.swiper-button-next {
  background-image: url('./assets/images/arrow-right.svg'); /* তোমার কাস্টম অ্যারো */
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  background-image: url('./assets/images/arrow-left.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.about-page .connect-section {
  padding-top: 130px;
  padding-bottom: 167px;
}


@media (max-width:1024px){
  .pillar-wrap{
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .pillar-item.left img{
    max-width: 250px;
    margin-left: -12px;
  }
  .pillar-item.mid img{
    max-width: 274px;
    margin-left: 11px;
  }
  .pillar-content p{
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.16px;
  }
  .pillar-section {
    padding-top: 12px;
  }
  .about-page .pillar-section {
    padding-top: 44px;
  }
  .pillar-item.right img {
    max-width: 67%;
  }
  .pillar-item.mid img {
    margin-top: 4px;
  }
  .pillar-item.mid .pillar-content{
    padding-top: 50px;
  }
  .pillar-img-right{
    margin-bottom: 18px;
  }
  .pillar-item.right .pillar-content h3{
    margin-bottom: 13px ;
  }
}

@media (max-width:768px){
  .pillar-wrap{
    grid-template-columns: repeat(1, 1fr);
  }
  .executive{
    padding-top: 68px;
  }
  .swiper-button-prev,
  .swiper-button-next{
    display: none;
  }
  .pillar-content h3 {
    margin-bottom: 23px;
  }
  .pillar-item.right img {
    margin-left: 0px;
    margin-top: 5px;
  }
  .executive-wrap{
    padding-top: 30px;
  }
  .executive .pillar-content h3{
    margin-bottom: 9px;
  }
  .executive .social{
    gap: 10px;
    margin-top: 20px;
  }
  .about-page .connect-section{
    padding-top: 75px;
    padding-bottom: 84px;
  }
  .about-page .banar-content h1{
    letter-spacing: 0.12px;
  }
  .swiper-button-next, .swiper-button-prev {
    top: var(--swiper-navigation-top-offset,36.5%);
  }
}
@media (max-width:1280px){
  .pillar-content h3{
    font-size: 24px;
    line-height: 26.4px;
    letter-spacing: -0.24px;
    margin-bottom: 25px;
  }
  .pillar-dot{
    top: 20px;
    right: 20px;
  }
}
@media (max-width:1322px){
  .pillar-content{
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 27px;
    padding-bottom: 35px;
  }
  .pillar-item.left .pillar-content{
    padding-left: 15px;
    padding-right: 31px;
  }
  .pillar-item.right .pillar-content{
    padding-left: 15px;
    padding-right: 27px;
  }
}
@media (min-width:1560px){
  .pillar-wrapper{
    padding-left: 117px;
    padding-right: 118px;
  }
}
/* about page style end*/


/* operation page stayle start */

.operation-page .banar-section{
  background-image: url(./assets/images/operation-banar.png);

}
.operation-page .banar-wrap{
  padding-top: 370px;
  padding-bottom:587px;
} 
.investors-page .banar-wrap{
  padding-bottom:591px;
} 

.partnership-page .banar-wrap {
  padding-bottom:592px;
}
.operation-page .banar-content{
  position: absolute;
  top: 38%;
}
.investors-page .banar-content,
.partnership-page .banar-content {
  position: absolute;
  bottom: 146px;
}
.operation-page .banar-section h1,
.investors-page .banar-section h1,
.partnership-page .banar-section h1{
  max-width: 545px;
}
.location-section{
  background-color: var(--text-white-gray);
  padding-bottom: 35px;
}
.location-wrap{
  background-image: url(./assets/images/operation-map.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 37px;
  
} 
.location-section .map{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 170px;
  margin-left: -128px;
}

.location-area {
    display: flex;
    align-items: center;
    background-color: var(--text-white);
    padding: 7px;
    border-radius: 25px;
    border: 1px solid rgba(149, 154, 181, 0.2);
    margin-top: 21px;
}
.location-wrap .common-wrap{
  position: relative;
}
.tab-wrap {
    background-color: var(--text-color);
    padding: 15px 22px;
    border-radius: 10px;
    display: flex;
    gap: 25px;
    max-width: 278px;
    margin: -20px 0 0 auto;
}
.tab-wrap .tab-item{
  background-color: transparent;
  color: var(--text-white);
  position: relative;
  font-size: 18px;
  line-height: 19.8px;
  font-weight: 500;
  letter-spacing: -0.18px;
}
.tab-item::after{
  position: absolute;
  content: "";
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-white);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in;
}

.tab-item:hover::after,
.tab-item.active::after{
  opacity: 1;
}
.location-address{
  width: 50%;
  display: flex;
  align-items: center;
  gap: 50px;
}
.location-address .address{
  display: flex;
  align-items: center;
}
.location-area p{
  font-size: 18px;
  line-height: 19.8px;
  letter-spacing: -0.18px;
}
.location-content p{
  margin-bottom: 28px;
}
.address-content{
  max-width: 250px;
}
.address-content h3{
  font-weight: 500;
  margin-bottom: 25px;
}

.address-content .address{
  margin-bottom: 15px;
  gap: 10px;
}
.location-content{
  width: 50%;
}
.location-img{
    min-width: 143px;
  }
  .location-img img{
    min-height: 100%;
  }
.location-content p{
  max-width: 516px;
}


circle {
  transition: fill 0.3s ease, r 0.3s ease;
}

circle.active {
  fill-opacity: .1 !important;   /* active হলে opacity বৃদ্ধি */
  fill: #44CC3B !important;     /* active circle color (যেমন লাল) */
}

.location-area {
  overflow: hidden;
  width: 0;    
  height: 0;         /* default hide */
  opacity: 0;
  transition: width 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
  padding: 0 20px;  /* content single line prevent wrap */
}

.location-area.active {
  width: 100%;   
  height: auto;      /* adjust as needed */
  opacity: 1;
  padding: 5px;
}
.map-mobile{
  display: none;
}


@media (max-width:440px){
  .location-img{
    height: 112px;
    width: 275px;
  }
}
@media (max-width:768px){
  .operation-page .banar-section{
    background-image: url(./assets/images/operation-banar-mobile.png);
    margin-top: -61px;
  }
  .operation-page .banar-wrap {
    padding-top: 339px;
    padding-bottom: 450px;
  }
  .operation-page .location-content p {
    margin-bottom: 25px;
  }
  .tab-wrap {
    padding: 10px 18px;
    max-width: 230px;
    margin: -38px 0 0 auto;
  }
  .tab-wrap .tab-item {
    font-size: 14px;
    line-height: 15.2px;
    letter-spacing: -0.14px;
  }
  .location-wrap {
    margin-top: 43px;
  }
  .location-area{
    flex-direction: column;
    gap: 35px;
    margin-top: 16px;
    padding: 10px 15px !important;
  }
  
  .operation-page .map {
    transform: scale(0.65);
    display: block !important;
    padding-top: 0px;
    margin-left: -25px !important;
  }
  .location-address{
    width: 100%;
  }
  .location-content{
    width: 100%;
  }
  .location-content button{
    width: 100%;
  }
  .address-content .address {
    margin-bottom: 6px;
}
  
  .map-desktop{
    display: none;
  }
  .map-mobile{
    display: block;
  }
  
}
@media (max-width:1024px){
 
  .location-address{
    gap: 15px;
  }
  .address-content h3 {
    margin-bottom: 9px;
    margin-top: 11px;
  }
  .location-area .address-content p{
    margin-left: 21px;
  }
  .location-area p{
    font-size: 14px;
    line-height: 15.4px;
    letter-spacing: -0.14px;

  }
  .address-content h5{
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.16px;
  }
  .address{
    margin-bottom: 13px;
  }
  
}
/* operation page stayle end */



/* Fectory section start */
.fectory-section{
  padding-top: 127px;
  padding-bottom: 70px;
}
.fectory-wrap{
  display: flex;
  gap: 18px;
  margin-bottom: 47px;
}
.fectory-img-wrap{
  width: 50%;
}
.fectory-content-wrap{
  width: 50%;
  background-color: var(--text-white-gray);
  padding: 40px 46px 0 ;
  border-radius: 25px;
}
.fectory-content-wrap .fectory-title-1{
  letter-spacing: -2.3px;
}
.fectory-content-wrap p{
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  letter-spacing: -0.18px;
}
.fectory-p{
  padding-bottom: 17px;
}
.fectory-info-wrap{
  padding-top: 38px;
  padding-bottom: 51px;
}
.fectory-info{
  display: flex;
  align-items: center;
  gap: 25px;
  border-top: 1px solid rgba(0, 13, 80, 0.4);
  padding-block: 12px;
  color: var(--text-blue);
}
.fectory-info:last-child{
  border-bottom: 1px solid rgba(0, 13, 80, 0.4);
}
.fectory-info h5{
  flex: 1;
  line-height: 19.8px;
  font-weight: 700;
}

@media (max-width:768px){
  .fectory-section{
    padding-top: 37px;
    padding-bottom: 40px;
  }
  .fectory-info {
    padding-block: 9px;
  }
  .fectory-info{
    gap: 10px;
  }
  .fectory-info img{
    max-width: 80%;
  }
  .operation-page .fectory-section {
    padding-top: 4px;
    padding-bottom: 40px;
  }
  .operation-page .fectory-content-wrap h2{
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.25px;
  }
  .fectory-info h5,
  .fectory-info span{
    font-size: 14px;
    line-height: 15.4px;
    letter-spacing: -0.14px;
  }
  .fectory-info-wrap{
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .fectory-wrap{
    margin-bottom: 35px;
  }
  .fectory-content-wrap p{
    font-size: 14px;
    line-height: 15.4px;
    font-weight: 500;
    letter-spacing: -0.14px;
  }
  .fectory-p {
    padding-bottom: 5px;
  }
  
}

@media (max-width:1024px){
  .fectory-wrap{
    flex-direction: column;

  }
  .fectory-img-wrap{
    width: 100%;
    order: 1;
  }
  .fectory-content-wrap{
    width: 100%;
    order: 2;
    padding: 14px 16px 21px 24px;
  }
  .xion-p{
    margin-bottom: 34px;

  }

}
/* Fectory section end */

/* partners section start */
.partners-section{
  padding-bottom: 187px;
}
.partners-inner{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 12px;
  margin-top: 24px;
}
.partners-item{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 13, 80, 0.4);
  height: 133px;
  border-radius: 25px;
}
.partners-img{
  display: flex;
  justify-content: center;
}
.partners-img img{
  width: auto;
}


@media (max-width:768px){
  .partners-section{
    padding-bottom: 80px;
  }
  .partners-inner{
    grid-template-columns: repeat(2, 1fr);
  }
  .partners-item{
    height: 100px;
  }
  .partners-img img{
    max-width: 78%;
  }
  .partners-item{
    border-radius: 14px;
  }
  .partners-inner{
    margin-top: 28px;
    gap: 10px;
  }
}
/* partners section end */


/* investors page start */

.aletri-card-section{
  padding-top: 44px;
}
.investors-page .banar-section{
  background-image: url(./assets/images/investors-banar-bg.png);
}

.investors-page .form-container h2{
  max-width: 458px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
}
.investors-page .alteri-content-left{
  max-width: 49.281%;
}
.investors-page .alteri-content-right{
  max-width: calc(100% - 49.281%);
  padding-left: 130px;
}
.investors-page .social-wrap{
  margin-top: 28px;
}
.investors-page .alteri-top h2{
  margin-bottom: 68px !important;
  letter-spacing: -1.70px;
}
.investors-page .alteri-top span{
  letter-spacing: 1.70px;
}

.investors-page .alteri-content-left h2{
  margin-bottom: 26px;
  letter-spacing: -0.70px;
}
.investors-page .inquiries .social-wrap{
  gap: 14px;
}
.alteri-card-item{
  position: relative;
}
.content-bottom{
  color: var(--text-blue);
}
.partnership-page .partnership-mobile{
    display: none;
  }
  @media(max-width:768px){
    .partnership-page .partnership-desktop{
      display: none;
    }
    .partnership-page .partnership-mobile{
      display: block;
    }
  }

@media(max-width:1024px){
  .investors-page .banar-section{
    background-image: url(./assets/images/investors-banar-mobile-bg.png);
    background-position:0 center;
  }
  .investors-page .banar-wrap {
    padding-bottom: 440px;
  }
  .investors-page .banar-section {
    margin-top: -50px;
  }
  .investors-page .banar-wrap {
    padding-bottom: 404px;
  }
  .investors-page .alteri-content-left{
    max-width: 100%;
  }
  .investors-page .alteri-content-right{
    max-width: 100%;
    padding-left: 0;
  }
  .investors-page .alteri-top h2{
    margin-bottom: 28px !important;
  }
  .investors-page .alteri-top span {
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0px;
  }
  .alteri-top .social-wrap {
    margin-top: 23px ;
  }
  .alteri-top-content{
    margin-top: 10px;
  }
  .alteri-content-right p:last-child{
    padding-bottom: 0;
  }
  
}

/* card section start */
.card-wrap{
  display: flex;
  gap: 16px;
  background: linear-gradient(180deg, rgba(0, 13, 80, 0) 0%, #000D50 69.84%);
  padding-inline: 15px;
  padding-top: 28px;
  padding-bottom: 26px;
  color: var(--text-white);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 25px 25px;
}
.card-content{
  max-width: 239px;
}
.card-content span{
  margin-block: 12px;
  display: inline-block;
}
.card-content p{
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  letter-spacing: -0.16px;
}
.card-social-icon{
  position: absolute;
  right: 15px;
  bottom: 23px;
}
.aletri-slider{
  display: none;
}
@media (min-width: 1280px) {
  .alteri-swiper {
    margin-right: 117px;
  }
}
@media (min-width: 768px) {
  
  .alteri-swiper .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
  }

  /* Swiper default flex behavior বন্ধ করো */
  .alteri-swiper .swiper-slide {
    margin-right: 0 !important;
    width: auto !important;
  }
}

@media(max-width:768px){
  .aletri-card-section .common-wrap{
    padding: 0 0px 0 15px;
  }
  .aletri-slider{
    display: block;
  }
  .card-content{
    max-width: 153px;
  }
 .card-wrap {
    padding-inline: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
}
  .card-content span{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.12px;
  }
  .card-content p{
    font-size: 12px;
    line-height: 13.2px;
    letter-spacing: -0.12px;
  }
}
/* card section end */

/* inquries section start */
.inquiries-wrap{
  background-color: var(--text-white-gray);
  padding-block: 21px;
  padding-inline: 20px;
  border-radius: 25px;
}
.inquiries-inner{
  display: flex;
}
.inquiries-info .btn{
  background-color: transparent;
  color:var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding-block: 9px;
  padding-inline: 10px;
  max-width: 274px;
}
.inquiries-wrap .mobile-btn{
  display: none;
}
.inquiries-wrap .btn img{
  width: 26px;
}
.inquiries-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inquiries{
  margin-top: -6px;
}
.inquiries p{
  font-size: 18px;
  line-height: 19.8px;
  letter-spacing: -0.18px;
  margin-top: 17px;
}
.inquiries-img{
  width: 40.705%;
}
.inquiries-info{
  width: calc(100% - 40.705%);
  padding-left: 50px;
}

@media (max-width:768px){
  .inquiries p{
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.16px;
  }
  .inquiries-wrap{
    padding: 15px;
  }
  .form-container-title{
    display: none;
  }
  .connect-top .connect-wrap {
    row-gap: 41px;
  }
  
}
@media (max-width:1280px){
  /* .inquiries-img{
    width: 100%;
  }
.inquiries-info{
    width: 100%;
  } */
   .inquiries-wrap .desktop-btn{
    
    display: none;
  }
   .inquiries-wrap .mobile-btn{
    width: 100%;
    background-color: transparent;
    color:var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding-block: 12px;
    padding-inline: 10px;
    margin-top: 35px;
    display: flex;
    font-size: 16px;
    line-height: 17.6px;
    letter-spacing: -0.16px;
  }
  .inquiries-info{
    padding-left: 25px;
  }
  .inquiries-wrap .btn img{
    width: 17px;
  }
}

/* company information start */
.home-page .content-top {
    margin-bottom: 33px;
}
.home-page .content-wrap {
    padding-bottom: 16px;
}
.investors-page .energy-wrap{
  padding: 0;
}
.investors-page .energy-content p{
  max-width: unset;
}
.investors-page .energy-section{
  background-color: transparent;
}

.investors-page .energy-image{
  width: 52.541%;
}
.investors-page .energy-content{
  width: calc(100% - 52.541%);
}
.investor-img-mobile{
  display: none;
}
@media (max-width:1024px){
  .home-page .content-wrap {
    padding-bottom: 28px;
  }
  .home-page .form-container h2 {
    margin-bottom: 9px;
  }
.investors-page .energy-image{
  width: 100%;
}
.investors-page .energy-content{
  width: 100%;
}
.investors-page .content-wrap h2{
    letter-spacing: .3px
  }
  .investors-page .energy-wrap {
    margin-top: 28px;
    gap: 41px;
  }
  .investors-page .content-top {
    margin-bottom: 21px;
  }
  .investors-page .content-wrap {
    margin-bottom: 33px;
  }
  .investors-page .alteri-bottom {
    padding-top: 78px;
    padding-bottom: 27px;
  }
  .investor-img-desktop{
    display: none;
  }
  .investor-img-mobile{
    display: block;
  }
}
/* company information end */


/* partnership-page start */
.development-section{
  padding-top: 120px;
}
.partnership-page .banar-section{
  background-image: url(./assets/images/partnership-banar-bg.png);
}
.development-area{
  display: flex;

}
.development-content{
  width: calc(100% - 52.320%);
  padding-right: 74px;
}
.development-img{
  width: 52.320%;
}

.development-item {
  background-color: var(--text-white-gray);
  padding: 20px 20px 25px;
  border-radius: 25px;
  position: relative;
  margin-bottom: 14px;
  min-height: 195px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.development-item p{
  max-width: 616px;
}
.development-item img{
  width: auto;
}
.partnership-page .pillar-dot{
  top: 20px;
  right: 20px;
}
p.scales-whether{
  max-width: 423px !important;
}

.scalable-compute-section{
  padding-top: 110px;
}
.scalable-compute-wrap{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.scalable-compute-img{
  order: 2;
}
.scalable-compute-content{
  max-width: 634px;
  padding-top: 26px;
  padding-inline: 35px;
  padding-bottom: 26px;
  background-color: var(--text-white);
  border-radius: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.scalable-compute-content h2{
  margin-bottom: 98px;
}
.scalable-compute-content .content-top {
    margin-bottom: 27px;
}
.scalable-compute-content p{
  max-width: 533px;
}
.content-top{
  margin-bottom: 42px;
}

@media(max-width:1280px){
  .development-content{
    padding-right: 20px;
  }
  .development-content h2{
    font-size: 40px;
    line-height: 42.2px;
  }
}
@media(max-width:1024px){
  .development-content h2{
    font-size: 32px;
    line-height: 35.2px;
  }
}
@media(max-width:768px){
  .partnership-page .banar-section{
    background-image: url(./assets/images/partnership-banar-mobile.png);
    background-position: 0px center;
    margin-top: -48px;
  }
  .partnership-page .banar-wrap {
    padding-top: 175px;
    padding-bottom: 601px;
  }
  .partnership-page .alteri-section {
    padding-top: 52px;
    padding-bottom: 29px;
  }
  .development-section {
    padding-top: 53px;
  }
  .development-content h2 {
    margin-bottom: 26px;
  }
  .partnership-page .alteri-content-right p {
    padding-bottom: 22px;
  }
  
  .development-area{
    flex-direction: column;
  }
  .development-content{
    width: 100%;
    padding-right: 0;
  }
  .development-img{
    width: 100%;
  }
  .development-item {
    padding: 15px;
    border-radius: 25px;
    position: relative;
    margin-bottom: 11px;
    min-height: unset;
    display: block;
  }
  .partnership-page .pillar-dot {
    top: 16px;
    right: 15px;
  }
  .development-item p{
    margin-top: 35px;
  }
  .img-wrap{
    width: 25px;
    height: 25px;
  }
  .scalable-compute-section{
    padding-top: 68px;
  }
  .scalable-compute-content h2 {
    margin-bottom: 26px;
  }
  .scalable-compute-content .content-top {
    margin-bottom: 20px;
  }
  .partnership-page .connect-section {
    padding-top: 76px;
    padding-bottom: 84px;
  }
  .scalable-compute-content{
    padding: 0;
    position: unset;
  }
}
