@font-face {
    font-family: 'Satoshi', Sans-serif;
    src: url('./assets/font/Satoshi-Regular.eot');
    src: url('./assets/font/Satoshi-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Satoshi-Regular.woff') format('woff'),
        url('./assets/font/Satoshi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi', Sans-serif;
    src: url('./assets/font/Satoshi-Medium.eot');
    src: url('./assets/font/Satoshi-Medium.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Satoshi-Medium.woff') format('woff'),
        url('./assets/font/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi', Sans-serif;
    src: url('./assets/font/Satoshi-Bold.eot');
    src: url('./assets/font/Satoshi-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Satoshi-Bold.woff') format('woff'),
        url('./assets/font/Satoshi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-color: #000D50;
  --text-white: #FFFFFF;
  --text-white-gray: #F8F8F8;
}
body{
  font-family: 'Satoshi' , Sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.18px;
  color: var(--text-color);
}
ol,ul{
  list-style: none;
}
li{
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
}
button{
  cursor: pointer;
  border: none;
}
h1,h2,h3,h4,h5,h6,a,address,label,input,button{
  font-family: 'Satoshi', Sans-serif;
}

h1{
  font-size: 65px;
  font-weight: 500;
  line-height: 68.25px;
  letter-spacing: -0.65px;
  color: var(--text-white);
}
h2{
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: -0.5px;
}
h3{
  font-size: 32px;
  font-weight: 700;
  line-height: 35.2px;
  letter-spacing: -0.32px;
}
h5{
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.18px;
}

.common-wrap{
  max-width: 1839px;
  margin: 0 auto;
  padding: 0 14px 0 15px;
}
.btn{
  background-color: var(--text-color);
  padding: 13px 28px;
  color: var(--text-white);
  font-size: 18px;
  line-height: 19.8px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in;
}
.btn img{
  width: 10px;
}
.btn:hover{
  background-color: rgba(0, 13, 80, .8);
}
@media(max-width:768px){
  h1{
    font-size: 40px;
    line-height: 42px;
  }
  h2{
    font-size: 32px;
    line-height: 35.2px;
  }
  h3{
    font-size: 22px;
    line-height: 24.2px;
  }
  h5{
    font-size: 16px;
    line-height: 16px;
  }
}


/* Header section start */
.header-section{
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 999;
}
.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
}
.main-menu {
  position: relative;
}

.main-menu {
    display: flex;
    align-items: center;
    padding: 22px 49px;
    gap: 80px;
    background: #fff;
    border-radius: 15px;
}


.main-menu li a.header-link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-menu li a {
  text-decoration: none;
  color: #363636;
  transition: 0.3s ease-in;
}
.main-menu li a:hover{
  color: #0020C3;
}

.main-menu > li {
  position: relative;
  display: inline-block;
}
.main-menu li .dropdown{
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  background-color: var(--text-white);
  padding: 22px 49px;
  border-radius: 15px;
  display: none;
  align-items: center;
  gap: 104px;
}
.main-menu li.show-dropdown > .dropdown {
  display: block;
}
.main-menu li span .minus {
  display: none; /* by default minus icon hidden */
}

.main-menu li:hover span .plus {
  display: none; /* hover করলে plus hide */
}

.main-menu li:hover span .minus {
  display: inline-block; /* hover করলে minus show */
}

.main-menu li span .icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.main-menu li span svg {
  transition: transform 0.3s ease;
}
.hamburger-icon{
    display: none;
  }

@media (max-width: 1024px) {
  .main-menu{
    display: none;
  }
  .main-menu li {
    width: 100%;
  }
  .hamburger-icon{
    display: block;
  }
  ul.main-menu {
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.header-section {
    position: relative;
}
.main-menu li a.header-link{
  justify-content: space-between;
}
.main-menu li .dropdown{
    flex-direction: column;
    gap: 15px;
}
}


/* banar-section start */

.banar-section{
  background-image: url(./assets/images/home-banar-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -122px;
}
.banar-wrap{
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 362px;
  padding-bottom: 394px;
  
}
.play-wrap{
  width: calc(100% - 788px);
  position: relative;
}
.play-wrap button{
  max-width: 91px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 20%;
}
.banar-content{
  width: 788px;
}
.banar-content h1{
  max-width: 484px;
  
}
.explore-wrap{
  display: flex;
  align-items: center;
  gap: 10px ;
  position: absolute;
  left: 0;
  bottom: 44px;
}
.explore-wrap span{
  color: var(--text-white);
}
@media (max-width: 1024px){
  .banar-section{
    background-position: -435px center;
  }
  .banar-content h1{
    max-width: 484px;
    display: none;
  }
  .play-wrap{
    width: 100%;
  }
  .play-wrap button{
    bottom: 0;
    left: 0;
  }
}

/* Alteri section start */
.alteri-section{
  padding-top: 100px;
  padding-bottom: 50px;
}
.alteri-wrap{
  display: flex;
  justify-content: space-between;
}
.alteri-content-left{
  max-width: 42.265%;
}
.alteri-content-right{
  max-width: 43.535%;
}
.alteri-content-right p{
  font-size: 22px;
  line-height: 24.2px;
  padding-bottom: 25px;
}
@media(max-width:1024px){
  .alteri-section{
    padding-top: 55px;
  }
  .alteri-wrap{
    flex-direction: column;
    gap: 35px;
  }
  .alteri-content-left,
  .alteri-content-right{
    max-width: 100%;
  }
}
/* Alteri section end */

/* alteri-builds start */
.alteri-builds{
  padding-top: 50px;
}
.alteri-builds img{
  vertical-align: bottom;
}
/* alteri-builds end */


/* global energy section start */
.energy-section{
  background-color: var(--text-white-gray);
}
.energy-wrap{
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 51px;
}
.energy-image{
  max-width: 52.320%;
  width: 100%;
}
.energy-content{
  max-width: calc(100% - 52.320%);
  width: 100%;
  padding-left: 75px;
}
.content-wrap{
  padding-top: 26px;
  padding-bottom: 58px;
  border-top: 1px solid rgba(0, 13, 80, 0.4);
  border-bottom: 1px solid rgba(0, 13, 80, 0.4);
  margin-bottom: 25px;
}
.box-image{
  padding-block: 65px;
}
.content-top{
  margin-bottom: 35px;
}
@media(max-width:768px){
  .energy-wrap{
    padding-top: 37px;
    padding-bottom: 38px;
  }
}
@media(max-width:1024px){
  .footer-wrap{
    padding-inline: 24px;
  }
  .energy-wrap{
    flex-direction: column;
    gap: 20px;
  }
  .energy-content{
    max-width: 100%;
    padding-left: 0;
  }
  .energy-image{
    order: 2;
    max-width: 100%;
  }
  .content-wrap{
    padding-top: 0;
    border-top: 0;
    padding-bottom: 35px;
    margin-bottom: 15px;
  }
  .box-image{
    padding-block: 35px;
  }
}


/* global energy section end */

/* Connect section start */
.connect-section{
  padding-top: 110px;
  padding-bottom: 167px;
}
.connect-wrap {
  display: grid;
  grid-template-columns: 52.320% 43.536%; /* 2 column */
  grid-template-rows: auto auto; /* 2 row */
  column-gap: 4.143%;
  row-gap: 50px;
}

.form-container {
  grid-column: 1; /* Left top */
  grid-row: 1;
  background: #f8f8f8;
  padding: 20px;
}

.map {
  grid-column: 2; /* Right top */
  grid-row: 1 / span 2; /* Top theke bottom porjonto map stretch hobe */
}

.contact-info {
  grid-column: 1; /* Left bottom */
  grid-row: 2;
  background: #f1f1f1;
  padding: 20px;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 column */
  grid-gap: 20px; /* gap between items */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-full {
  grid-column: span 2; /* Full row item */
  display: flex;
  flex-direction: column;
}

input, select, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



@media (max-width: 1024px) {
  .connect-wrap {
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto auto auto; /* 3 row */
    column-gap: 0;
  }

  .form-container {
    grid-column: 1;
    grid-row: 1;
  }

  .map {
    grid-column: 1;
    grid-row: 2;
  }

  .contact-info {
    grid-column: 1;
    grid-row: 3;
  }

}
/* Connect section end */

/* Footer section start */
.footer-section{
  background-color: var(--text-white-gray);
  padding: 61px 0 56px;
}
.footer-wrap{
  display: flex;
  gap: 16.574%;
  padding-bottom: 50px;
}
.footer-logo{
  max-width: 187px;
  width: 100%;
}
.footer-content{
  width: calc(100% - 187px);
  display: flex;
  flex-flow: wrap;
  gap: 137px;
}
.investors{
  margin-inline: 47px;
}
.footer-item h5{
  margin-bottom: 35px;
}
.footer-item li{
   margin-bottom: 15px;

}
.footer-item li a{
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 500;
  transition: .3s ease-in;
}
.footer-item li:last-child{
  margin-bottom: 0px;
}
.footer-social{
  border-top: 1px solid rgba(0, 13, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}
.copyright{
  display: flex;
  gap: 336px;
}
.copyright{
  font-weight: 500;
}
.social{
  display: flex;
  align-items: center;
  gap: 25px;
}
.social-mob{
  display: none;
}
.footer-item li a:hover{
  color: #0020C3;
}
@media (max-width: 640px){
  .footer-content{
    flex-direction: column;
  }
}
@media (max-width: 768px){
  .social-mob{
    display: flex;
  }
  .social-desk{
    display: none;
  }
  .copyright{
    font-size: 12px;
    line-height: 12px;
  }
  .footer-social{
    padding-top: 25px;
  }
  .footer-section{
    padding: 39px 0 35px 0;
  }
  .footer-logo{
    margin-bottom: 5px;
  }
  .footer-wrap{
    padding-bottom: 25px;
  }
  .footer-item li a{
    font-size: 16px;
    line-height: 16px;
  }
}
@media (max-width: 1024px){
  .footer-wrap{
    flex-direction: column;
    gap: 50px;
  }
  .copyright{
    display: flex;
    gap: 50px;
  }
}
@media (max-width: 1550px){
  .footer-logo{
    max-width: 105px;
  }
  .investors{
    margin: 0;
  }
  
  .footer-content{
    gap: 50px;
    width: 100%;
    justify-content: space-between;
  }
}
/* Footer section end */
